.todo {
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--very-light-grayish-blue);
}

html.dark .todo {
  border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.todo p {
  margin: 0;
}

.todo .todo__text:hover {
  cursor: pointer;
}

.todo.complete .todo__text {
  text-decoration: line-through;
  opacity: 50%;
}

.todo input[type='checkbox'] {
  /* display: none; */
}

.todo .remove-btn {
  opacity: 0;
}
.todo:hover .remove-btn {
  opacity: 1;
}

.remove-btn:focus-visible {
  opacity: 1;
}
